trunk/src/META-INF/schema/Advisor.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema 
 xmlns:xs="http://www.w3.org/2001/XMLSchema"
 xmlns:xdb="http://xmlns.oracle.com/xdb"
 elementFormDefault="qualified">

	<xs:element name="advisor"  xdb:defaultTable="ADVISOR">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="name" type="xs:string" />
				<xs:element name="level" type="xs:string" />
				<xs:element name="office" type="xs:string" />
				<xs:element name="email" type="xs:string" />
				<xs:element name="phone" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>