trunk/src/META-INF/schema/Advisor.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema 
 xmlns:xs="http://www.w3.org/2001/XMLSchema"
 elementFormDefault="qualified">


	<xs:element name="Advisor">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="employeeId" type="employeeIdType" />
				<xs:element name="name" type="xs:string" />
				<xs:element name="level" type="xs:string" />
				<xs:element name="office" type="xs:string" />
				<xs:element name="email" type="xs:string" />
				<xs:element name="phone" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	
	<xs:simpleType name="employeeIdType">
	<xs:restriction base="xs:int">
		<xs:minInclusive value="1000" />
		<xs:maxInclusive value="999999"/>
	</xs:restriction>
	</xs:simpleType>
</xs:schema>