src/META-INF/schema/Book.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
targetNamespace="http://www.info606.org/Book"	
xmlns:tns="http://www.info606.org/Book" attributeFormDefault="unqualified"  elementFormDefault="qualified">

	<element name="book">
		<complexType>
			<sequence>
				<element name="title" type="tns:titleType" minOccurs="1"
					maxOccurs="1" />
				<element name="author" type="tns:authorType" minOccurs="1"
					maxOccurs="20" />
				<element name="description" type="string" minOccurs="1"
					maxOccurs="1" />
			</sequence>
		</complexType>
	</element>

	<complexType name="authorType">
		<sequence>
			<element name="firstname" type="string" minOccurs="1" maxOccurs="1" />
			<element name="lastname" type="string" minOccurs="1" maxOccurs="1" />
		</sequence>
	</complexType>

	<simpleType name="titleType">
		<restriction base="string">
			<maxLength value="200" />
		</restriction>
	</simpleType>
</schema>