src/META-INF/schema/Course.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified"
xmlns:xdb="http://xmlns.oracle.com/xdb"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">


	<xs:element name="course" xdb:defaultTable="COURSE">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="coursePrefix" type="xs:string" />
				<xs:element name="crn" type="crnType" />

				<xs:element name="title" type="xs:string" />
				<xs:element name="instructor" type="xs:string" />
				<xs:element name="day" type="dayOfWeekType" minOccurs="0"
					maxOccurs="5" />
				<xs:element name="starttime" type="xs:dateTime" />
				<xs:element name="endtime" type="xs:dateTime" />

				<xs:element name="credits">
					<xs:simpleType>
						<xs:restriction base="xs:int">
							<xs:minInclusive value="0" />
							<xs:maxInclusive value="5" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>

				<xs:element name="capacity" type="xs:unsignedByte" />
				<xs:element name="filled" type="xs:unsignedByte" />
				<xs:element name="remaining" type="xs:unsignedByte" />
				<xs:element name="waitlist" type="xs:unsignedByte" />
				<xs:element name="location" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>


	<xs:simpleType name="dayOfWeekType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="M" />
			<xs:enumeration value="T" />
			<xs:enumeration value="W" />
			<xs:enumeration value="R" />
			<xs:enumeration value="F" />
		</xs:restriction>
	</xs:simpleType>


	<xs:simpleType name="crnType">
		<xs:restriction base="xs:integer">
			<xs:pattern value="[0-9][0-9][0-9][0-9][0-9]"></xs:pattern>
		</xs:restriction>
	</xs:simpleType>

</xs:schema>