src/META-INF/schema/Schedule.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0">

	<xs:include schemaLocation="Course.xsd"  />

	<xs:element name="Schedule">
		<xs:complexType>
			<xs:sequence>
				<!-- Primary Key -->
				<xs:element name="scheduleId" type="scheduleIdType" />
				
				<xs:element name="academicYear" type="yearType" />
				<xs:element name="term" type="termType" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:simpleType name="scheduleIdType">
		<xs:restriction base="xs:string">
			<xs:minLength value="8"/>
			<xs:maxLength value="10"/>
			<xs:whiteSpace value="collapse" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="yearType">
		<xs:restriction base="xs:int">
			<xs:minInclusive value="2000" />
			<xs:maxInclusive value="2999" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="termType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Spring" />
			<xs:enumeration value="Summer" />
			<xs:enumeration value="Fall" />
			<xs:enumeration value="Winter" />
		</xs:restriction>
	</xs:simpleType>

</xs:schema>