src/META-INF/schema/Schedule.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema 
elementFormDefault="qualified"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0">

	<xs:include schemaLocation="http://www.info606.org/student/Student.xsd" />

	<xs:element name="registration">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="academicYear">
					<xs:simpleType>
						<xs:restriction base="xs:int">
							<xs:minInclusive value="2000" />
							<xs:maxInclusive value="2999" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>

				<xs:element name="term">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="Spring" />
							<xs:enumeration value="Summer" />
							<xs:enumeration value="Fall" />
							<xs:enumeration value="Winter" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>

	</xs:element>
</xs:schema>